<div id="component">
    <header>
        <app-menuitem></app-menuitem>
        <span id="pageTitle">{{ pageTitle }}</span>
    </header>
    <table class="table table-striped table-sm" *ngIf="request">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Justification</th>
                <th>Rejection Reason</th>
                <th>Delivery Mode</th>
                <th>Status</th>
                <th>Total</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
         <tr>
            <td>{{ request.id }}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.justification }}</td>
            <td>{{ request.rejectionReason }}</td>
            <td>{{ request.deliveryMode }}</td>
            <td>{{ request.status }}</td>
            <td>{{ request.total | currency }}</td>
            <td>{{ request.username }}</td>
         </tr>
        </tbody>
    </table>
    <hr>
    <hr>
    <div>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Line Total</th>
                </tr>
            </thead>
            <tbody *ngIf="request && request.requestLines">
              <tr *ngFor="let rl of request.requestLines">
                    <td>{{ rl.id }}</td>
                    <td>{{ rl.product?.name }}</td>
                    <td>{{ rl.product?.price | currency }}</td>
                    <td>{{ rl.quantity}}</td>
                    <td>{{ rl.quantity * (rl.product === null ? 0 : rl.product.price) | currency }}</td>
                </tr>
            </tbody>
            <button (click)="approve()" class="btn btn-success">Approve</button>
            <span> | </span>
            <button (click)="reject()" class="btn btn-danger">Reject</button>
        </table>
    </div>
    <div *ngIf="rejectClicked">
        <p>Enter Rejection Reason: <input [(ngModel)]="request.rejectionReason"></p>
        <button (click)="rejectConfirmed()" class="btn btn-danger">Confirm Reject</button>
    </div>
</div>