<div id="component">
    <header>
        <app-menuitem></app-menuitem>
        <span id="pageTitle">{{ pageTitle }}</span>
        <span> | </span>
        <a routerLink="/user/create" class="">Create New User</a>
    </header>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th><button (click)="selectColumn('id')" class="btn btn-link">Id</button></th>
                <th><button (click)="selectColumn('username')" class="btn btn-link">Username</button></th>
                <th><button (click)="selectColumn('password')" class="btn btn-link">Password</button></th>
                <th><button (click)="selectColumn('firstname')" class="btn btn-link">First Name</button></th>
                <th><button (click)="selectColumn('lastname')" class="btn btn-link">Last Name</button></th>
                <th><button (click)="selectColumn('phone')" class="btn btn-link">Phone</button></th>
                <th><button (click)="selectColumn('email')" class="btn btn-link">Email</button></th>
                <th><button (click)="selectColumn('isReviewer')" class="btn btn-link">Reviewer</button></th>
                <th><button (click)="selectColumn('isAdmin')" class="btn btn-link">Admin</button></th>
            </tr>
        </thead>
        <tbody>
         <tr *ngFor="let u of users | sort :sortColumn :sortAsc">
            <td>{{ u.id }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.password }}</td>
            <td>{{ u.firstname }}</td>
            <td>{{ u.lastname }}</td>
            <td>{{ u.phone }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.isReviewer }}</td>
            <td>{{ u.isAdmin }}</td>
            <td>
                <a routerLink="/user/detail/{{ u.id }}">Details</a>
                <span> | </span>
                <a routerLink="/user/edit/{{ u.id }}">Edit</a>
            </td>
         </tr>
        </tbody>
    </table>
</div>