<div id="component" *ngIf="request && request.requestLines">
    <header>
        <app-menuitem></app-menuitem>
        <span id="pageTitle">{{ pageTitle }}</span>
        <span> | </span>
        <a routerLink="/request/create" class="">Create New Request</a>
    </header>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Justification</th>
                <th>Rejection Reason</th>
                <th>Delivery Mode</th>
                <th>Status</th>
                <th>Total</th>
                <th>Username</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
         <tr>
            <td>{{ request.id }}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.justification }}</td>
            <td>{{ request.rejectionReason }}</td>
            <td>{{ request.deliveryMode }}</td>
            <td>{{ request.status }}</td>
            <td>{{ request.total | currency }}</td>
            <td>{{ request.username }}</td>
            <td>
                <button (click)="review()" class="btn btn-link">Submit for Review</button>
            </td>
         </tr>
        </tbody>
    </table>
    <hr>
    <hr>
    <div>
        <a routerLink="/requestline/create/{{ request.id }}" class="">Create New Requestline</a>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Line Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rl of request.requestLines">
                    <td>{{ rl.id }}</td>
                    <td>{{ rl.product?.name }}</td>
                    <td>{{ rl.product?.price | currency }}</td>
                    <td>{{ rl.quantity}}</td>
                    <td>{{ rl.quantity * (rl.product === null ? 0 : rl.product.price) | currency }}</td>
                    <td>
                        <a routerLink="/requestline/edit/{{ rl.id }}">Edit</a>
                        <span> | </span>
                        <button (click)="remove(rl)" class="btn btn-link">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <span *ngIf="showVerifyRemove">
            <button (click)="removeVerified()" class="btn btn-danger">Verify Remove</button>
        </span>
    </div>
</div>